.Header {
    position:absolute;
    background-color: #f3f3f3;
    height: 45px;
    width:100%;
    top:0px;
    left:0px;
}

.Navbar {
    height: inherit;
    
}
.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    font-size: 20px;
    background-color:inherit

}

.Navbar ul li {
    float: left;
}

.Navbar ul li a{
    display:block;
    text-decoration: none;
    transition: background-color 0.1s ease-out 100ms;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    padding:10px 10px 10px 10px;
    color: rgb(100,100,100);

}

.Navbar ul li a:hover{
    background-color: #fdfdfd
}

.App_Button {
    display:block;
    position:absolute;
    left:calc(100vw - 50px);
    top:3px;
    width:40px;
    height:40px;
    background-color: transparent;
    transition: background-color 0.1s ease-out 100ms;
    border-radius:25px;
}

.App_Image {
    position: relative;
    background-color: transparent;
    
}

.App_Button:hover {
    background-color: rgb(255, 255, 255)
}

.App_List {
    width: 300px;
    height: 300px;
    border-top:0pt;
    border-color: rgb(0, 0, 0);
}