.Header {
    position:absolute;
    background-color: #f3f3f3;
    height: 45px;
    width:100%;
    top:0px;
    left:0px;
}

.Navbar {
    height: inherit;
    
}
.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    font-size: 20px;
    background-color:inherit

}

.Navbar ul li {
    float: left;
}

.Navbar ul li a{
    display:block;
    text-decoration: none;
    transition: background-color 0.1s ease-out 100ms;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    padding:10px 10px 10px 10px;
    color: rgb(100,100,100);

}

.Navbar ul li a:hover{
    background-color: #fdfdfd
}

.App_Button {
    display:block;
    position:absolute;
    left:calc(100vw - 50px);
    top:3px;
    width:40px;
    height:40px;
    background-color: transparent;
    transition: background-color 0.1s ease-out 100ms;
    border-radius:25px;
}

.App_Image {
    position: relative;
    background-color: transparent;
    
}

.App_Image img {
    position:absolute;
}


.App_Button:hover {
    background-color: rgb(255, 255, 255)
}

.App_List_Box {
    display:block;
    position:absolute;
    overflow:hidden scroll;
    right:10px;
    width: 250px;
    height: 300px;
    background-position-x: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px rgb(219, 219, 219); /*any color you want*/



}

.App_List ul{
    width:auto;
    align-self: center;
    padding:10px;
}


.App_Object{
    text-decoration: none;
    padding-left:25px;
    padding-right:30px;
    padding-bottom:15px;
    font-family:inherit;
    text-align: center;
    display:inline-block;
    list-style: none;
    width:55px;
    height:80px;

}

.App_Object a{
    text-decoration: none;
    color:inherit
}
.App_Object p {
    margin-top:5px;
}